<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>My portfolio-{{title}}</title>
    {% else %}
    <title>PortFolio</title>
    {% endif %}



</head>
<body>


{% block content %}

{% endblock %}

{% block scripts %}
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

{% bootstrap_javascript %}
{% endblock %}
</body>
</html>