{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
<div class="contaner-fluid">
    <div class="top">
        <div class="me">
            <div class="name">
                <p class="test">Hello,I'm Kimani Njoroge.<br>
                    I'm a full-stack web developer.</p>
            </div>
            <div class="alittle">
                <button class="btn btn-outline-info">
                    View my Work
                </button>
            </div>
        </div>
    </div>
    <div class="skills">

    </div>
    <div class="projects">
        <h1 class="center">welcome to the my Portfolio</h1>
        <!--{% for project in projects %}-->
        <!--<div class="row">-->
        <!--<div class="card">-->
        <!--{{project.name}}-->
        <!--<div class="card-body">-->
        <!--{{project.language}}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
    </div>
    <div class="contact">

    </div>

</div>

{% endblock %}