{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
{% endblock %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>

    </div>
</nav>
<div class="contaner-fluid">

    <div class="top">
        <div class="me">
            <div class="name">
                <p class="test">Hello, I'm Kimani Njoroge.<br>
                    I'm a full-stack web developer.</p>
            </div>
            <div class="alittle">
                <button class="btn btn-outline-info">
                    View my Work
                </button>
            </div>
        </div>
    </div>
    <div class="skills">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2 ht">
                <div class="image">
                    <img src="{% static "image/test.png" %}" alt="test">
                </div>
                <div class="text">
                    <p class="html">HTML</p>
                </div>
            </div>
            <div class="col-md-2 ht">
                <div class="image">
                    <img src="{% static "image/post.png" %}" alt="test">
                </div>
                <div class="text">
                    <p class="html">PostgreSQL</p>
                </div>
            </div>
            <div class="col-md-2 ht">
                <div class="image">
                    <img src="{% static "image/angular.png" %}" alt="test">
                </div>
                <div class="text">
                    <p class="html">Angular</p>
                </div>
            </div>
            <div class="col-md-2 ht">
                <div class="image">
                    <img src="{% static "image/flask.png" %}" alt="test">
                </div>
                <div class="text">
                    <p class="html">Flask</p>
                </div>
            </div>
            <div class="col-md-2 ht">
                <div class="image">
                    <img src="{% static "image/django.png" %}" alt="test">
                </div>
                <div class="text">
                    <p class="html">Django</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="projects">
        <div class="proj">
            <p>Projects</p>
        </div>
        <div class="row">
            {% for project in projects %}
            <div class="col-4">
                {{project.name}}
            </div>



            {% endfor %}

        </div>

    </div>
    <div class="contact">
        <div class="title">
            Contacts
        </div>
        <div class="info">
            <p class="const">under construction</p>
        </div>
    </div>
</div>





{% endblock %}