.top{
    background-image: url(../image/download.png);
    height: 100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.skills{
    /*background-color: #205067;*/
    overflow-x: hidden;
    height: 50vh;
}
.projects{
    background-color: #153342;
    overflow-x: hidden;
    height: 70vh;
}
.contact{
    background-color: #060F13;
    overflow-x: hidden;
    height: 50vh;
}
.me{
    margin:auto;
    width: 40%;
    border: 3px solid dodgerblue;
    padding:10px;
    margin-top: 18%;
}
.name{
    color: white;
    margin:auto;
    width: 70%;
    padding:10px;
}
.alittle{
    color: white;
    margin:auto;
    width: 30%;
    padding:10px;
}
.test{
    font-size: 30px;
}
.html{
    padding-left:80px;
    font-size: 30px;
}
.ht{
    margin-top: 5%;
}
.proj{
    color: white;
}
.col-4{
    color: white;
    border-right: 3px solid grey;
    height:62vh;
}
.title{
    color: white;
}
.info{
    margin:auto;
    width: 50%;
    padding:10px;
    padding-left: 15%;
    margin-top: 10%;
}
.const{
    font-size: 50px;
    color: white;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: black;
    color: #fff;
    transition: all 0.3s;
    padding-right:17%;
}
.links{
    color: white;
    /*text-align: center;*/
    /*margin-bottom: 5%;*/
    /*padding-left: 80px;*/
    /*padding-top: 400px;*/
    padding: 63px 80px 34px 31px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}