.top{
    background-image: url(../image/download.png);
    height: 100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.skills{
    /*background-color: #205067;*/
    overflow-x: hidden;
    height: 75vh;
}
.projects{
    background-color: #153342;
    overflow-x: hidden;
    height: 70vh;
}
.contact{
    background-color: #060F13;
    overflow-x: hidden;
    height: 50vh;
}
.me{
    margin:auto;
    width: 40%;
    border: 3px solid dodgerblue;
    padding:10px;
    margin-top: 18%;
}
.name{
    color: white;
    margin:auto;
    width: 70%;
    padding:10px;
}
.alittle{
    color: white;
    margin:auto;
    width: 30%;
    padding:10px;
}
.test{
    font-size: 30px;
    font-family: 'Josefin Slab', serif;
}
.html{
    padding-left:80px;
    font-size: 30px;
}
.ht{
    margin-top: 5%;
}
.proj{
    color: white;
}
.col-4{
    color: white;
    border-right: 3px solid grey;
    height:62vh;
}
.title{
    color: white;
    font-family: 'Josefin Slab', serif;
    font-size: 40px;
    margin-left: 44%;
}
.info{
    margin:auto;
    width: 50%;
    padding:10px;
    padding-left: 15%;
    margin-top: 10%;
}
.const{
    font-size: 50px;
    color: white;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: black;
    color: #fff;
    transition: all 0.3s;
    padding-right:17%;
}
.links{
    color: white;
    /*text-align: center;*/
    /*margin-bottom: 5%;*/
    /*padding-left: 80px;*/
    /*padding-top: 400px;*/
    padding: 63px 80px 34px 31px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    font-family: 'Josefin Slab', serif;
}
/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  and (-webkit-min-device-pixel-ratio : 2) {
.responsive_h1{
    font-size:6vw;
}
.responsive{
    font-size:4vw;
}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px)  and (-webkit-device-pixel-ratio: 2){
.responsive_h1{
    font-size:6vw;
}
.responsive{
    font-size:4vw;
}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2){
.responsive_h1{
    font-size:6vw;
}
.responsive{
    font-size:4vw;
}
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 2){
.responsive_h1{
    font-size:6vw;
}
.responsive{
    font-size:4vw;
}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3){
.responsive_h1{
    font-size:6vw;
}
.responsive{
    font-size:4vw;
}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.responsive_h1{
    font-size:6vw;
}
.responsive{
    font-size:4vw;
}
}
.mail{
    margin-left: 43%;
}
.far{
    font-size: 3em;
    padding-left: 5%;
}
#mail{
    font-size: 20px;
    color: white;
    font-family: 'Josefin Slab', serif;
}
.fab{
    font-size:3em;
    margin-left: 43%;
}
.github{
    margin-top: 3%;
    margin: auto;
    width: 56%;
    padding: 10px;
}
.skill{
    border-left: 2px solid grey;

}
.toast{
    height:75vh;
    padding-top: 50px;
    padding-bottom: 50px;
}